@charset "UTF-8";

@media screen and (min-width:768px) and (max-width: 992px) {

    body{
        background-image: linear-gradient(to top ,#0d5bc2, #5f2c82
         );
    }

    .login{
        width: 90vw;
        height: 340px;
    }

    .imagem{
        float: left;
        width: 30%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        border-radius: 10px 0px 0px 10px;

    }
    .formulario{
        float: right;
        width: 70%;
    }

    .campo > input{
        width: 88%;

    }

}
@media screen and (min-width:992px) {

    body{
        background-image: linear-gradient(to top ,#0d5bc2, #5f2c82
         );
    }


    .login{
        width: 930px;
        height: 350px;

    }

    .imagem{
        float: right;
        width: 50%;
        height: 100%;
        border-radius: 0px 10px 10px 0px;

    }

    .formulario{
        float: left;
        width: 50%;
    }

    .formulario >p{
        font-size: 1.2em;
    }

    .campo >input
{
    width: 87%;
}    
}